@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700);

body {
  background: #FFF;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
  padding: 5.5rem 0;
}

a {
<<<<<<< HEAD
	color: #1fbae2;
=======
  color: #e24b3b;
>>>>>>> 3183012927d5f893992fbbd95979bd8c72a61faf
}

a:hover {
<<<<<<< HEAD
	color: #1fbae2;
}

.star-favorite { color: #CCC; }
.star-favorite--selected { color: #1fbae2; }

.check-select { color: #CCC; }
.check-select--selected { color: #1fbae2; }
=======
  color: #e97467;
}

.dashboard {
  background: #ebeef1;
}

.header {
  background: #e24b3b;
  color: #FFF;
  padding: 6rem 0;
}

.sidebar {
  height: 100%;
  padding: 1rem;
  position: fixed;
  left: 0;
  overflow: hidden;
  background: #4f5061;
  z-index: 800;
}

.section {
  padding: 1rem 0;
}

.admin-content {
  padding: 1rem 4rem;
}

.section--full {
  padding-right: 2rem;
  padding-left: 2rem;
}

.section--primary {
  background: #e24b3b;
  color: #FFF;
}

.section--light {
  background: #EEE;
  color: #7e8690;
}

.headline {
  margin: 0.75rem 0;
  padding: 0.5rem 0;
  font-family: "Roboto", sans-serif;
}

.headline--alpha {
  font-weight: 700;
}

.headline--beta {
  font-weight: 300;
  text-transform: uppercase;
}

.headline--centered {
  text-align: center;
}

/**
 * Base Button Object
 * @tags ^button
 * @format
 * <a href="#" class="btn">Register</a>
 * <button class="btn">Register</button>
 * <input type="submit" class="btn" value="Register">
 */
.btn-opencfp {
  border: 2px solid transparent;
  display: inline-block;
  margin: 0;
  padding: 1rem;
  cursor: pointer;
  font: inherit;
  line-height: 1;
  text-transform: uppercase;
  -webkit-transition: background .1s ease-in;
}

.btn-opencfp,
.btn-opencfp:hover {
  text-decoration: none;
}

/**
 * Button Sizes
 * @tags ^button
 * @extends btn
 */
.btn-opencfp-xsmall {
  font-size: 1rem;
}

.btn-opencfp-small {
  font-size: 1.5rem;
}

.btn-opencfp-medium {
  font-size: 2rem;
}

.btn-opencfp-large {
  font-size: 3rem;
}

.btn-opencfp-xlarge {
  font-size: 4rem;
}

.btn-opencfp--full {
  display: block;
}

.btn-opencfp--wide {
  padding: 1rem 4rem;
}

/**
 * Primary Button Style
 * @tags ^button
 * @extends btn
 */
.btn-opencfp--primary {
  background: #FFF;
  color: #e24b3b;
}

.btn-opencfp--primary:hover {
  background: #F7F7F7;
  color: #e24b3b;
}

.btn-opencfp--light {
  background: #7e8690;
  color: #FFF;
}

.btn-opencfp--light:hover {
  background: #5c636c;
  color: #FFF;
}

.btn-opencfp--outlined {
  background: transparent;
  border-color: #FFF;
  color: #FFF;
}

.btn-opencfp--outlined:hover {
  background: #FFF;
  color: #e24b3b;
}

.btn-opencfp--centered {
  text-align: center;
}

.module {
  background: #FFF;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.module--constrained {
  margin: 0 auto;
  width: 60rem;
}

.module__header {
  background: #e24b3b;
  color: #FFF;
  padding: 1rem 2rem;
}

.module__body {
  padding: 2rem;
}

.module__footer {
  background: #EEE;
  padding: 1rem 2rem;
}

.nav-tabs + .module {
  border: 1px solid #DDD;
  border-top: 0;
}
>>>>>>> 3183012927d5f893992fbbd95979bd8c72a61faf

.tile {
  padding: 20px;
  margin: 0 15px 10px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  color: #fff;
}

.tile-content {
  z-index: 20;
}

.tile-content > h2 {
  font-size: 3.5em;
  margin-top: 0;
}

.tile > .fa {
  color: rgba(0, 0, 0, 0.1);
  font-size: 5em;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.tile-speakers {
  background: #f56954;
}

<<<<<<< HEAD
.navbar-lsp {
	background: #FFF;
	border-bottom: 3px solid #444444;
}
.navbar-lsp .navbar-nav > li > a {
	color: #1fbae2;
}
.navbar-lsp .navbar-nav > .active > a,
.navbar-lsp .navbar-nav > .active > a:hover,
.navbar-lsp .navbar-nav > .active > a:focus {
	background: #444444;
	color: #FFF;
=======
.tile-talks {
  background: #1fa67a;
}

.tile-favorites {
  background: #ffb848;
}

.tile-selected {
  background: #852b99;
>>>>>>> 3183012927d5f893992fbbd95979bd8c72a61faf
}

/**
 * SVG LOGO
 */
.primary-text,
.megaphone-cover,
.megaphone-end {
  fill: #e24b3b;
}

.base-text,
.megaphone-base {
  fill: #EEEEEE;
}

<<<<<<< HEAD
	font-family: 'Roboto', arial;
	font-weight: 400;
	text-transform: uppercase;
}

.headline:before {
	background: #1fbae2;
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	height: 4px;
	width: 60px;
=======
.event-logo {
  max-width: 100%;
}

.star-favorite {
  color: #CCC;
}
>>>>>>> 3183012927d5f893992fbbd95979bd8c72a61faf

.star-favorite--selected {
  color: #f49c2c;
}

.check-select {
  color: #CCC;
}
<<<<<<< HEAD
.intro-body {
	margin: 0;
	color: #444444;
	font: 4rem/1 'Roboto', sans-serif;
	font-weight: 400;
	text-align: center;
	text-shadow: 1px 2px 0 rgba(191, 188, 174, 0.6);
}
.intro-highlight {
	color: #1fbae2;
=======

.check-select--selected {
  color: #f49c2c;
}

.navbar-opencfp {
  background: #374146;
>>>>>>> 3183012927d5f893992fbbd95979bd8c72a61faf
}

.navbar-opencfp .navbar-nav > li > a {
  border-top: 3px solid transparent;
  color: #FFF;
  -webkit-transition: border .2s ease-in-out;
}

.navbar-opencfp .navbar-nav > li > a:hover,
.navbar-opencfp .navbar-nav > .active > a,
.navbar-opencfp .navbar-nav > .active > a:hover,
.navbar-opencfp .navbar-nav > .active > a:focus {
  background: none;
  border-color: #e24b3b;
}

.navbar-opencfp .navbar-toggle {
  background: #FFF;
}

.navbar-opencfp .icon-bar {
  background: #CCC;
}

.nav-sidebar {
  margin-left: -20px;
  margin-right: -21px;
  margin-bottom: 20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #FFF;
}
.nav-sidebar > li > a:hover {
  background: #71738b;
}

<<<<<<< HEAD
/**
 * Primary Button Style
 * @tags ^button
 * @extends btn
 */
.lsp-btn-primary {
	box-shadow: 3px 3px 0 rgba(0,0,0,0.25);
  margin: 1rem 0;
	background: #444444;
	color: #FFF;
	font-family: 'Roboto', arial;
	font-weight: 300;
	letter-spacing: 1px;
	text-shadow: none;
	text-transform: uppercase;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.lsp-btn-primary:hover {
    background: #1fbae2;
    color: #FFF;
}
.lsp-btn-primary:visited {
    color: #FFF;
}

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
	margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
=======
.nav-icon {
  display: inline-block;
  margin-right: 0.5rem;
  fill: #FFF;
}

.icon-16 {
  height: 16px;
  width: 16px;
}

.icon-12 {
  height: 12px;
  width: 12px;
>>>>>>> 3183012927d5f893992fbbd95979bd8c72a61faf
}
