.bg-brand {background-color: #1C8DD3;}
.bg-brand-t {background-color: rgba(27, 121, 200, 0.8);}
.border-brand {border-color: #1C8DD3;}
.btn-brand {background-color: #1C8DD3;border-color: #1C8DD3;}
.btn-brand-o {border-width: 2px;border-color: #1C8DD3;color: #1C8DD3;}
.btn-brand-o:hover {background-color: #1C8DD3;color: #fff;}
.text-brand {color: #1C8DD3;}
.btn-white {background-color: #fff;color: #1C8DD3;}
.btn-white-o:hover {background-color: #fff;color: #1C8DD3;}
.w-10 {width: 10rem;}
a.btn {cursor:pointer;}
#cookie_notice {display: block; width: 100%; position: fixed; bottom: 0; left: 0; z-index: 99999999;}
.opencfp-legal { }
.footer-bar {margin-top: 1rem;}
select {padding: .5rem .75rem;width: 100%;height: 36px;}