<div class="footer-bar bg-brand text-white">
    <div class="container mx-auto flex justify-between">
        <p>
            <a class="text-white underline" href="{{ url("privacy") }}" title="Privacy Statement">Privacy Statement</a> |
            <a class="text-white underline" href="{{ url("terms") }}" title="Terms and conditions">Terms &amp; Conditions</a>
        </p>
        <div class="flex">
            Powered by <a class="text-white underline" href="https://github.com/opencfp/opencfp" target="_blank" title="OpenCFP" rel="nofollow">OpenCFP</a>.
        </div>
    </div>
</div>