<div class="container">
    <div class="section row">
        <div class="col-md-12"><h3 class="headline headline--centered">See for yourself why you want to be part of it!</h3></div>
        <div class="col-md-12 text-center"><iframe src="https://player.vimeo.com/video/117694237" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/117694237">#phpbnl15 after movie</a> from <a href="https://vimeo.com/user16867942">PHPBenelux</a> on <a href="https://vimeo.com">Vimeo</a>.</p></div>
    </div>
    <div class="section row">
        <div class="col-md-6">
            <h3 class="headline headline--beta">Got a talk idea? We want to see it!</h3>
            <p>
                We’re very pleased to announce the 7th edition our conference. The
                PHPBenelux Conference 2016 should be one of the best PHP community
                conferences where community members from around the world come together
                to learn and share information about the latest trends in professional
                PHP development.
            </p>
        </div>
        <div class="col-md-6">
            <h3 class="headline headline--beta">Speaker Package</h3>
            <p>
                We know speakers are key to the success of a conference
                and we hope you will submit a talk. In appreciation of
                your efforts, our speaker compensation package includes:
            </p>
            <p><a href="{{ url('speaker_package') }}">View Full Speaker Package</a></p>
            </p>
        </div>
    </div>
</div>

<section class="section section--primary">
    <div class="container">
        <h2 class="headline headline--beta headline--centered">Diversity Matters!</h2>
        <p>
            PHPBenelux Conference 2016 Call for Papers is committed to creating a conference that is as inclusive as possible.
        </p>
        <p>
            We are also committed to ensuring the conference is a place where ideas are exchanged,
            old friends get together, new friends meet and harassment is not tolerated. We expect
            speakers, attendees and sponsor representatives to be professional and courteous to
            each other. We reserve the right to remove, without refund, ANY attendee (speaker
            or otherwise) who is unable to adhere to this policy.
        </p>
    </div>
</section>