<div class="row marketing">
    <div class="col-md-6">
        <h4 class="headline">Got a talk idea? We want to see it!</h4>
        <p>
            We’re pleased to announce a brand new edition of the {{ site.title }}.
        </p>
        <p>
            In our 6th edition you as community members from the BENELUX and beyond 
            come together to learn and share information about the latest trends and 
            technologies in professional PHP and web development.<br/>
        <ul>
            <li><strong>When:</strong> January 23 &amp; 24, 2015</li>
            <li><strong>Where:</strong> Ter Elst, Edeghem, Belgium</li>
        </ul>
        </p>
        
        <h4 class="headline">About the {{ site.title }}</h4>
        <p>
            {{ site.title }} is committed to creating a conference that is as inclusive as possible.
            We want to showcase talent available in the BENELUX but welcome speakers from all over the planet.
        </p>
        <p>
            The conference is a place where ideas are exchanged, inspiration is gained, old friends get together, and new friends are made.
        </p>
    </div>
    <div class="col-md-6">
        <h4 class="headline">Speaker Package</h4>
        <p>
            We know speakers are key to the success of a conference and hope 
            you will submit a talk.  In appreciation of your efforts, our speaker 
            compensation package includes:
                
            <ul>
                <li>Pick-up service from Brussels Airport (Zaventem) / Antwerp central station (train) to the hotel and back;</li>
                <li>Three hotel nights (from Thursday afternoon until Sunday morning);</li>
                <li>Conference only access (tutorials not included);</li>
                <li>Lunch, receptions and activities included in conference;</li>
                <li>An invitation to our speakers dinner on Thursday the 22nd of January;</li>
                <li>Up to 300 euro of reimbursement for travel expenses.</li>            
            </ul>
        </p>
        
        <h4 class="headline">Don't wait, Submit now!</h4>
        <p>
            We look forward to all of the great submissions for this year's event! Remember, you can
            submit more than one session idea too! This year's submission deadline is <strong>{{ site.enddate }}</strong>
            so don't put it off!
        </p>
    </div>
</div>
