{% extends "layouts/default.twig" %}
{% block content %}
<div class="container">
    <h2 class="headline--beta">Call for Papers Talk Ideas</h2>
    <p>
        We love PHP related talks, especially with all the things happening in PHP 7. But we welcome also
        those awesome tools and frameworks that are build with PHP like Symfony, Zend Framework, Laravel,
        Drupal, Joomla, WordPress, SugarCRM, CakePHP, Phalcon, Moodle, and so on.
    </p>
    <p>
        {{ site.title }} is not limited to just PHP-related talks. There have been
        sessions covering a wide range of topics supporting PHP developers and DevOps
        as well, and we encourage you to "think outside the box" to come up with your
        own unique topics.
    </p>
    <p>
        Due to financial constraints most conferences tend to pick speakers to present
        multiple talks. Therefore <strong>it is advisable to submit a few talk ideas, not just one.</strong>
        By submitting a single talk you may lessen your chances of being selected.
    </p>
    <p>
        To get the ideas flowing, here's a few suggestions:
    </p>
    <ul>
        <li>PHP</li>
        <li>PHP extensions</li>
        <li>Frameworks, libraries and tools</li>
        <li>API's</li>
        <li>Software architecture and design</li>
        <li>Systems Enginering &amp; DevOps</li>
        <li>Testing &amp; Quality Assurance</li>
        <li>Automation, Continuous Integration, Delivery &amp; Deployment</li>
        <li>Security &amp; Legislation</li>
        <li>E-commerce</li>
        <li>Caching tools &amp; techniques</li>
        <li>Frontend Design &amp; Development</li>
        <li>Mobile Applications, Architecture and Scalability</li>
        <li>PHP Community building, Team Management &amp; Workflow Improvements</li>
    </ul>
</div>
{% endblock %}

